body, html {
    margin: 0;
    font-family: arial;
}

h1, h2, h3, h5 {
    text-align: center;
}

h2 {
    margin-left: 8px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th {
    font-size: 15px;
    height: 25px;
    text-align: center;
}

td {
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    margin-bottom: 20px;
}

#content {
    width: 80%;
}

#update {
    width: 60%;
}

#due {
    width: 60%;
    margin-left: 15px;
}

.date_form{
    margin: 0 auto;
    width: 280px;
}

.update_form {
    margin: 0 auto;
    width: 500px;
}

p {
    text-align: center;
    padding: 10px;
}


.fcurrent_btn {
    position: relative;
    top: 10px;
}

.btn, .fbtn {
    border: 1px solid grey;
    text-decoration: none;
}

.fbtn {
    position: relative;
    top: 10px;
}

a:link.action, a:visited.action {
    text-decoration: none;
    color: grey;
}

.filter_form {
    padding: 10px;
}