body, html {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color: red;
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    margin-left: 8px;
}

table {
    border-collapse: collapse;
    width: 100%
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 25px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
    margin-bottom: 20px;
}

#content {
    width: 73.75%;
}

#update {
    width: 60%;
}

#due {
    width: 45%;
    margin-left: 15px;
}

.date_form{
    margin: 0 auto;
    width: 280px;
}

.content {
    margin: 0 auto;
    width: 500px;
}

.update_form {
    margin: 0 auto;
    width: 500px;
}

p {
    text-align: center;
    padding: 10px;
}

.current_btn, .fcurrent_btn {
    border: 1px solid grey;
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 2px;
    margin: 2px;
}

.fcurrent_btn {
    position: relative;
    top: 10px;
}

.btn, .fbtn {
    border: 1px solid grey;
    text-decoration: none;
    color: grey;
    padding: 2px;
    margin: 2px;
}

.fbtn {
    position: relative;
    top: 10px;
}

a:link.action, a:visited.action {
    text-decoration: none;
    color: grey;
}

a:hover.action {
    text-decoration: none;
    color: white;
    background-color: grey;
}

.filter_form {
    padding: 10px;
}