{% extends 'base.html' %}
{% block head %}
<div class="container-fluid p-3 mb-4 bg-dark text-white">
    <h1>Task Master</h1>
    <p class="small font-italic">Keep track of your tasks</p>
</div>
{% endblock %}
{% block body %}
<h5>Enter due date for task:<br></h5>
<p class="font-italic">
    {{task.content}}
</p>
<div class="date_form">
    <div class="row"></div>
        <div class="col-12 text-center">
            <form action="/due/{{task.id}}" method="POST">
                <input type="date" id="due" name="due">
                <input type="submit" value="Submit" class="btn btn-outline-dark px-2 py-0">
            </form>
        </div>
    </div>
</div>
{% endblock %}